.notCompleteWrapper .btnWrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}

.notCompleteWrapper {
  margin-bottom: 40px;
}

.notCompleteWrapper .btnWrapper p {
  font-size: 1.2rem;
  color: darkblue;
}

.notCompleteWrapper button {
  padding: 8px 0px;
  width: 130px;
  background-color: rgb(35, 35, 224);
  color: white;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: all 0.3s;
  border-bottom: 1px solid black;
}

.notCompleteWrapper button.clear {
  background-color: rgb(194, 19, 19);
  width: 100px;
}

.notCompleteWrapper button:hover {
  background-color: rgb(31, 31, 168);
}
.notCompleteWrapper button:active {
  transform: scale(0.97);
}

.notCompleteWrapper button.clear:hover {
  background-color: rgb(145, 9, 9);
}

.notCompleteWrapper .tableWrapper {
  margin-top: 20px;
  overflow-y: scroll;
  height: 400px;
  background-color: rgb(206, 214, 223);
  border-radius: 9px;
  padding: 30px 40px;
  width: 60%;
  min-width: 400px;
}
.notCompleteWrapper table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid rgb(102, 9, 179);
  background-color: rgb(255, 255, 255);
}

.notCompleteWrapper th {
  background-color: #997ebb;
  color: white;
}

.notCompleteWrapper tr:nth-child(even) {
  background-color: #f2f2f2;
}

.notCompleteWrapper th,
.notCompleteWrapper td {
  border: 1px solid black;
  padding: 10px 20px;
  text-align: center;
}

.notCompleteWrapper .noLeft {
  font-size: 1.1rem;
  margin-top: 10px;
}
