.teacherLists {
  margin-top: 30px;
}

.teacherLists table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

.teacherLists td,
.teacherLists th {
  border: 1px solid #ddd;
  padding: 8px 10px;
}

.teacherLists tr:nth-child(even) {
  background-color: #ece6e6;
}

.teacherLists tr:hover {
  background-color: rgb(208, 205, 248);
}
.teacherLists td:nth-child(3) {
  text-transform: uppercase;
}
.teacherLists td:nth-child(1),
.teacherLists td:nth-child(4),
.teacherLists td:nth-child(7),
.teacherLists td:nth-child(6),
.teacherLists td:nth-child(3) {
  text-align: center;
}

.teacherLists th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #6824b0;
  color: white;
}

.teacherLists th:not(:nth-child(1), :nth-child(7)) {
  min-width: 100px;
  position: relative;
}
.teacherLists .iconSort {
  position: absolute;
  right: 10px;
  top: 13px;
}

.teacherLists .editBtn {
  color: red;
  font-weight: 600;
  width: 100%;
}

/* Pagination */

.paginationDiv {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.paginationDiv .pageNumbers {
  display: flex;
  gap: 10px;
}

.pageNumbers span {
  border: 1px solid var(--secondary-blue);
  padding: 5px 10px;
  cursor: pointer;
  color: var(--secondary-blue);
}

.pageNumbers span.active {
  background-color: var(--secondary-blue);
  color: white;
}
.pageNumbers span:hover:not(.active) {
  background-color: #b9b9e6;
}

.paginationDiv button {
  padding: 5px 7px;
  font-size: 1.1rem;
  color: var(--secondary-blue);
}

.paginationDiv button:hover:not(:disabled) {
  color: #0a2584;
}
.paginationDiv button:active:not(:disabled) {
  transform: translateY(5px);
}

.paginationDiv button:disabled {
  opacity: 0.4;
}
