* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
:root {
  --primary-blue: #1a73e8;
  --input-color: #80868b;
  --border-color: #dadce0;
  --form-border: ##cedcf1;
  --body-background: #e8dff7;
  --gray-1: #808999;
  --secondary-purple: #845ec2;
  --secondary-blue: #2f4fc1;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--body-background);
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

.wrapper {
  width: 93%;
  max-width: 1800px;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
}
a {
  text-decoration: none;
  color: #000;
}
